#game, #logs-container {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;  
  width: 1024px;  
}
#game {
  background-color: #568303;
  height: 900px;
  position: relative;
  z-index:-2;
}
#flora-overlay{
  position: absolute;
  height: 900px;
  width: 1024px;
  z-index: 14;
}
#top {
  position: absolute;
  height: 900px;
  width: 800px;
  left: 70px;
  float:left
}
#logs-container {
  height: 100px;
}
#RAoG-image {
  width:600px; 
  height:600px;
  padding: 50px;
}
#RAoG-image-modal {
/*   background-color: rgba(200,0,0,.85); */
 /*  visibility: hidden; */
  display: none;
  position: absolute;
  height: 600px;
  width: 600px;
  top: 100px;
  left: 100px;
  z-index: 15;
}
#activity-image {
  width:300px; 
  height:300px;  
}
#activity-image-modal {
/*   background-color: white;
 *//*   visibility: hidden;
 */  
  display: none;
  position: absolute;
  height: 300px;
  width: 300px;
  top: 475px;
  left: 600px;
  z-index: 12;
}
#shadow-overlay  {
  position: absolute;
  height: 510px;
  width: 600px;
  z-index: 11;
}
.shadow {
  background-color: rgba(0,0,0,0.5);
}
#statuses-container{
  width: 200px;
  float: right;
}
.status {
  width: 198px;
  margin: auto;
  overflow: auto;
  font-family: monospace;
  border: 1px solid black;
}
#time, #day, #score{
  margin: auto;
  font-family: monospace;
  border: 1px solid black;  
  float: left;
  height: 17px;
  padding: 4px; 
}
#time, #day {
  width: 55px;
}
#score{
  width: 65px;
}
#status-vitals {
  height: 51px;
}
#status-inventory {
  height: 200px;
}
#status-actions {
  height: 200px;
}
#input-output {
  float: left;
  width: 602px;
}
#output, #command-input {
  overflow-wrap: break-word;
  overflow: auto;
  height: 60px;
  border: 1px solid black;
}
#command-input {
  display: inline-block;
  overflow: auto;
  width: 95px;
  font-size: 20pt;
}
#output {
  float:right;
  overflow: auto;
  width: 490px;
}


#sun, #moon, #sunOrMoon {
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  left: -100px;
  top: 200px;
}
#sky-box {
  background-color: skyblue; 
  height:110px; 
  width:400px; 
  margin: 0 auto;
  float:left;
  position: relative;
}
.sky {
  display: block;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

#grid {
  /* left:600px;top:-110px;position: absolute; */
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);    
  margin-left: auto;
  margin-right: auto;
}

#log, #log2, #log3 {
  float:left;
  width: 198px;
  height: 100px;
  overflow-wrap: break-word;;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.cell {
  background-color: blue;
  width: 40px;
  height: 40px; 
  text-align: left;
  padding: 0px;  
}

.cell.filled {
  background-color: green;
}

.water, .fish, .tree, .mountain {
  display: block;
  position: absolute;
  z-index:2;
  text-align: left;
  visibility: visible;    
}

.player {
  position: relative;
  padding: 0;
  left: 40;
  width: 100%;
  vertical-align:text-bottom;
  text-align: right;
  z-index: 10;
  float: right; 
  visibility: visible;   
  font-size: 28pt; 
}