#game{
  
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 818px;
  width: 802px;
  margin-left: auto;
  margin-right: auto;  
}

.container {
  width: 400px;
  margin: 0 auto;
}
#overlay  {
  position: relative;
  background-color: white;
  z-index: 11;
}
.status {
  height: 40px;
  border: 1px solid black;
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;  
}
pre {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}
#sun-or-moon, #sun, #moon {
  position: relative;
  cursor: pointer;
}
.hide-sun {
  display:block;
  position: absolute;
  background-color: white;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
    visibility:visible;
}
.sky {
  display: block;
  position: relative;
  overflow: hidden;

  width: 400px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
/*   border: 1px solid black;
 */  z-index: -1;
}
.grid {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);    
  margin-left: auto;
  margin-right: auto;
}
#log, #log2 {
  float:left;
  width: 49%;
  height: 200px;
  overflow-wrap: break-word;;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
#status, #command-input {
  height: 40px;
  width: 398px;
  border: 1px solid black;
}

.cell {
/*     border: 1px solid black; */
  background-color: blue;
  width: 40px;
  height: 40px; 
  text-align: left;
  padding: 0px;  
  /*border: 1px solid black;*/
}

.cell.filled {
  background-color: green;
}

.water {
  display: block;
  position: absolute;
  z-index:2;
  text-align: left;
  vertical-align: text-top;
  visibility: visible;    
}

.fish {
  display: block;
  position: absolute;
  z-index:2;
  text-align: left;
  vertical-align: text-top;
  visibility: visible;    
}

.tree {
  display: block;
  position: absolute;
  z-index:3;
  text-align: left;
  vertical-align: text-top;
  visibility: visible;    
}

.mountain {
  display: block;
  position: absolute;
  z-index:4;
  text-align: left;
  vertical-align: text-top;
  visibility: visible;    
}

.player {
  position: relative;
  top: 12;
  left: 20;
  width: 100%;
  z-index: 10;
  text-align: left;
  /* vertical-align: top; */
  float: right; 
  visibility: visible;   
  font-size: 28pt; 
}