#game, #logs-container {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;  
  width: 602px;  
}
#game {
  height: 618px;
}
top {
  height:600px;
  display: contents;
}
#logs-container {
  height: 300px;
}
#overlay  {
  position: relative;
  background-color: white;
  z-index: 11;
}
#statuses-container{
  width: 200px;
  float: right;
}
.status {
  width: 198px;
  margin: auto;
  overflow: auto;
  font-family: monospace;
  border: 1px solid black;
}
#status-timeDayScore{
  height: 80px;  
}
#status-vitals {
  height: 80px;
}
#status-inventory {
  height: 130px;
}
#status-actions {
  height: 160px;
}
#sun, #moon {
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  top: 110px;
}
#sky-box {
  background-color: skyblue; 
  height:110px; 
  width:400px; 
  margin: 0 auto;
  float:left;
  position: relative;
}
.sky {
  display: block;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

#grid {
  /* left:600px;top:-110px;position: absolute; */
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);    
  margin-left: auto;
  margin-right: auto;
}

#log, #log2, #log3 {
  float:left;
  width: 198px;
  height: 200px;
  overflow-wrap: break-word;;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.cell {
  background-color: blue;
  width: 40px;
  height: 40px; 
  text-align: left;
  padding: 0px;  
}

.cell.filled {
  background-color: green;
}

.water, .fish, .tree, .mountain {
  display: block;
  position: absolute;
  z-index:2;
  text-align: left;
  visibility: visible;    
}

.player {
  position: relative;
  top: 12;
  left: 40;
  width: 100%;
  z-index: 10;
  float: right; 
  visibility: visible;   
  font-size: 28pt; 
}