#input-output {
  position: absolute;
  top: 515px;
  left: calc(50% - 400px);
  float: left;
  width: 602px;
}
#output,
#command-input {
  overflow-wrap: break-word;
  overflow: auto;
  height: 60px;
  border: 1px solid black;
}
#command-input {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 10px;
  display: block;
  overflow: auto;
  float: left;
  width: 95px;
  font-size: 20pt;
}
#output {
  background-color: sandybrown;
  position: relative;
  left: 10px;
  top: 0px;
  float: right;
  overflow: auto;
  width: 250px;
}

#log,
#log2,
#log3,
#log4 {
  float: left;
  width: 198px;
  height: 100px;
  overflow-wrap: break-word;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
#logs-container {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 972px;
}
