#map {
  position: relative;
  float: left;
  top: 110px;
  left: 70px;
}

#grid {
  /* left:600px;top:-110px;position: absolute; */
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.cell {
  background-color: blue;
  width: 40px;
  height: 40px;
  text-align: left;
  padding: 0px;
}

.cell.filled {
  background-color: green;
}
.cell.water {
  background-color: rgb(0, 127, 207);
}
.cell.shoreling {
  background-color: red;
}

.tree,
.mountain {
  /* display: block; */
  position: absolute;
  z-index: 2;
  text-align: left;
  visibility: visible;
  vertical-align: bottom;
}
.tree,
.mountain {
  font-size: 22pt;
}
.seafood,
.fish {
  position: relative;
  float: left;
  font-size: 12pt;
}

.player_old {
  position: relative;
  padding: 0;
  left: 40;
  width: 100%;
  vertical-align: text-bottom;
  text-align: right;
  z-index: 5;
  float: right;
  visibility: hidden;
  display: none;
  font-size: 28pt;
}
.player,
.player-map-items {
  position: absolute;
  padding: 0;
  text-align: right;
  float: right;
  display: block;
  font-size: 28pt;
}
.player {
  z-index: 6;
}
.player-map-items {
  z-index: 5;
}
#fishing-rod {
  z-index: 7;
}
