#sun,
#moon,
#Heavens {
  display: none;
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  /*   left: -100px;
  top: 200px; */
  left: 100px;
  top: 10px;
}
#sun-or-moon-container {
  z-index: 0;
}
#sky-box {
  background-color: skyblue;
  height: 110px;
  width: 400px;
  margin: 0 auto;
  float: left;
  position: relative;
  overflow: hidden;
}
.sky {
  display: block;
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.5);
}
#moon-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 850px;
  width: 972px;
  z-index: 15;
}
