#statuses-container {
  background-color: sandybrown;
  width: 400px;
  float: right;
  top: 25px;
  position: absolute;
  z-index: 45;
  /* box-shadow: 5px 5px 5px 0px brown; */
  left: calc(50% - 10px);
}
.status {
  width: 398px;
  margin: 5px;
  overflow: hidden;
  /* font-family: monospace; */
  box-shadow: 5px 5px 5px 0px rgb(174, 123, 123),
    -5px -5px 5px 1px rgb(174, 123, 123);
}
.status-items {
  box-shadow: 0px 0px 5px 0px rgba(174, 123, 123, 0.5);
}
#time,
#day,
#score {
  margin: 5px;
  font-family: monospace;
  /*   border: 1px solid black;
 */
  float: left;
  height: 30px;
  padding: 4px;
  box-shadow: 5px 5px 5px 0px rgb(134, 83, 83);
  /* border-color: grey;
  border-style: solid; */
  border-radius: 4px;
}
#time,
#day {
  width: 85px;
}
#time {
  margin-left: 10px;
}
#score {
  /*   margin-left: 100px; */
  width: 95px;
}
#status-vitals {
  background-color: sandybrown;
  height: 40px;
  text-align: center;
}
#status-inventory {
  height: 98px;
  overflow: auto;
}
#status-actions {
  height: 160px;
  text-align: center;
}
#status-actions-header {
  background-color: darkslategray;
  color: white;
  border-radius: 3px;
  text-align: center;
}
#status-vitals,
#status-inventory,
#status-actions {
  padding: 5px;
}
.vitals {
  background-color: green;
  color: white;
}
.inventory {
  background-color: lightgreen;
  color: black;
}
#status-bar {
  position: relative;
  width: 350px;
  height: 100px;
  float: left;
  top: 100px;
}
